<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Disconnected_Environment.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=LAPTOP-QCHTG94R\W_TGR;Initial Catalog=ProdiTI;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Disconnected_Environment.Properties.Settings.DisconnectedEnvironmentConnectionString"
            connectionString="Data Source=LAPTOP-QCHTG94R\W_TGR;Initial Catalog=DisconnectedEnvironment;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>